.env
data/
reports/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.idea/
.vscode/
.mypy_cache/
.venv/
.DS_Store
# SSH keys
gh_actions_deploy
gh_actions_deploy.pub

# Local specs / drafts
specv*.md
specv_SQL_optimise.md
test*.txt
